.buttonbord{

}
.App{
    border: 2px solid rgb(230, 25, 127);
    border-radius: 8px;
}

.flexdiv{
    display: flex;
    
}

.flexdiv>p{
    margin-right: 50px;
}
.flexdiv>div{
    width: 100px;
    margin-right: 100px;
}
.flexdiv>button{
    width: 70px;
    background-color: rgb(230, 25, 127);
    height: 50px;
    margin: 10px;
}



.scorebord{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}